<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/backend.css">
        <link rel="stylesheet" href="/css/font/jf-openhuninn-1.1.ttf">
</head>


<style>
   
</style>

<body>
    
    <div class="navbar">
        
    </div>
    
    
    <div class="boDy">
        
        <div class="draw">
            
            <div class="change">
                <div class="left" id="Left">
                    <h2>登入</h2>
                </div>
            </div>

            <!-- 登入 -->
            <form class="fromTitle" id="content1" action="">
                
                <div class="account">
                    <h4>帳號</h4>
                    <input type="text" value="" placeholder="請輸入帳號">
                </div>
        
                <div class="password">
                    <h4>密碼</h4>
                    <input class="" type="text" value="" placeholder="請輸入密碼">
                </div>
                
                <!-- 確認按鈕 -->
                <div class="chose">
                    <input class="comfirm" type="submit" value="登入"> 
                </div>
            </form>
            <!-- 登入end -->
        </div>

    </div>

    <div class="footer">

    </div>


    <script>
    </script>

</body>

</html>